@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');

$color-black: #202020;
$color-dark_grey: #404040;
$color-light_grey: #cac7be;
$color-white: #dad3c1;
$color-accent: #d63e30;
$type-size-10: 10px;
$type-size-12: 12px;
$type-size-14: 14px;
$type-size-16: 16px;
$type-line_height-small: 22px;
$type-line_height-medium: 24px;

@mixin center-flex-vertically-and-horizontally {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

@mixin center-div-vertically-and-horizontally {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

@mixin transition-opacity-to-zero {
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
}

@mixin transition-fill {
	transition: fill 0.5s ease;
	-webkit-transition: fill 0.5s ease-in-out;
	-moz-transition: fill 0.5s ease-in-out;
	-o-transition: fill 0.5s ease-in-out;
}

@mixin type-serif {
	font-family: 'Notable', serif;
	font-weight: 400;
	font-style: normal;
}

@mixin type-sans_serif {
	font-family: 'sans-serif';
}
