$color-black: #202020;
$color-dark_grey: #404040;
$color-light_grey: #cac7be;
$color-white: #dad3c1;
$color-accent: #d63e30;
$type-size-xxs: 10pt;
$type-size-xs: 12pt;
$type-size-sm: 14pt;
$type-size-med: 16pt;
$type-line_height-small: 22pt;
