$color-black: #202020;
$color-dark_grey: #323232;
$color-light_grey: #cac7be;
$color-white: #dad3c1;
$color-accent: #d63e30;
$type-size-small: 14pt;
$type-size-very_small: 10pt;
$type-line_height-small: 22pt;

body {
	font-family: sans-serif;
}

main,
body,
article {
	margin: 0;
	padding: 0;
	background-color: $color-black;
}

text {
	font-size: 0.65rem;
	color: $color-light_grey;
	fill: $color-light_grey;
}

.steps-wrapper {
	z-index: 10 !important;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	position: relative;
	pointer-events: none;
}
.step {
	z-index: 10 !important;
	height: 110vh;
	display: flex;
	place-items: center;
	justify-content: center;
	font-size: 14px;
	line-height: 18px;
}

.step-content {
	background: $color-dark_grey;
	font-size: $type-size-small;
	line-height: $type-line_height-small;
	color: $color-light_grey;
	opacity: 95%;
	backdrop-filter: blur(10px);
	border-radius: 5px;
	padding: 0.5rem 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	transition: background 500ms ease;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
	height: auto;
	z-index: 11 !important;
}

@media (max-width: 800px) {
	.step-content {
		max-width: 85vw;
	}

	.step {
		position: relative;
	}
}

@media (min-width: 800px) {
	.step-content {
		max-width: 30vw;
	}
}
