$color-black: #202020;
$color-dark_grey: #404040;
$color-light_grey: #cac7be;
$color-white: #dad3c1;
$color-accent: #d63e30;
$type-size-small: 14pt;
$type-size-very_small: 10pt;
$type-line_height-small: 22pt;

body {
	font-family: sans-serif;
}

main,
body,
article {
	margin: 0;
	padding: 0;
	background-color: $color-black;
}

text {
	font-size: 0.6rem;
	color: $color-light_grey;
	fill: $color-light_grey;
}

.steps-wrapper {
	z-index: 10 !important;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	position: relative;
	pointer-events: none;
}
.step {
	z-index: 10 !important;
	height: 110vh;
	display: flex;
	place-items: center;
	justify-content: center;
}

.step-content {
	background: $color-dark_grey;
	font-size: $type-size-small;
	line-height: $type-line_height-small;
	color: $color-light_grey;
	opacity: 95%;
	backdrop-filter: blur(10px);
	border-radius: 5px;
	padding: 0.5rem 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	transition: background 500ms ease;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
	height: auto;
	z-index: 11 !important;
}

@media (max-width: 800px) {
	.step-content {
		max-width: 85vw;
	}

	.step {
		position: relative;
	}
}

@media (min-width: 800px) {
	.step-content {
		max-width: 30vw;
	}
}

.album-title-text {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	padding: 0px 2px 0px 2px;
	color: #dad3c1;
}

p {
	font-size: 16px;
	line-height: 24px;
}

button {
	border: 1px solid #202020;
	color: #a7a294;
	background-color: #202020;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	padding: 8px 16px;
	border-radius: 100px;
	gap: 4px;
}

.button-icon {
	width: 40px;
	height: 40px;
}

button:hover {
	background-color: #2b2b2b;
}

button:focus {
	background-color: #2b2b2b;
	border: 1px solid #a7a294;
}

.material-icons {
	vertical-align: middle;
	font-size: 24px;
}
